h1{
	text-align: center;
}

.reg p{
	text-align: center;
}

p {
	font-size: 20px;
	padding-top: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.role_selector {
/*	margin-left: 20px;*/
	padding: 5px;
	text-align: left;
	font-size: 18px;
	height: 30px;
	background-color: #E2B9FF;

}

.usual_selector{
	padding: 5px;
	text-align: left;
	font-size: 18px;
	height: 30px;
}

.div_selector{
	margin-left: 5px;
	padding: 2px;
	text-align: left;
	font-size: 12px;
/*	height: 30px;*/
	background-color: #E2B9FF;
}

input{
	width: 300px;
	height: 30px;
	font-size: 20px;
}

.main input{
	width: 400px;
}



.header_empty h1{
	margin: 0px;
	padding: 40px;
	font-size: 50px;
}

.block{
	margin: 0px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
/*	position: fixed;*/
}

.menu p{
	text-align: center;
}

#logo {
	text-align: center;
}

.menu button{
	text-align: center;
	background-color: #D8F6A8;
	border: 2px solid black;
	border-radius: 15px;
	font-size: 30px;
	margin: 15px;
	padding: 5px;
}

/*.reg button{
	text-align: center;
	background-color: #D8F6A8;
	border: 2px solid black;
	border-radius: 15px;
}*/

p{
	font-size: 18px;
}

h2{
	
}

.header
{
	background-color: #C9E9FF;
	padding: 15px;
	margin-top: 0px;
}

.usual_header
{
	background-color: #C9E9FF;
	padding: 20px;
	padding-left: 30px;
	margin: 0px;
	text-align: left;
}

.name_header
{
	background-color: #E2B9FF;
	padding: 20px;
	padding-left: 30px;
	margin: 0px;
	text-align: left;
}

body{
	/*margin: 0px;
	padding: 20px;*/
}

#teachers p{
	font-size: 18px;
}

.usual_button{
	background-color: #E2B9FF;
	border: 1px solid black;
	border-radius: 30px;
	padding: 5px;
	margin: 5px;
}

.extra_button{
	background-color: #FFBA94;
	border: 1px solid black;
	border-radius: 30px;
	padding: 5px;
	font-size: 12px;
	margin: 5px
}


.note{
	font-size: 12px;
}

.header_empty{
	width: 100%;
	height: 150px;
	background-color: #F3FF96;
}

.link{
	color: #05037B ;
	text-decoration: underline;
}

.all_users{
	font-size: 12px;
}
.student{
/*	display: block;*/
}

.side_menu button{
	background-color: #C9E9FF;
	border: 0px solid black;
	border-radius: 30px;
	padding: 5px;
	width: 80%;
}

.side_menu{
	position: fixed;
	width: 200px;
	align: right;
	margin-left: calc(100vw - 200px);
}

.side_menu a{
	text-align: right;
	margin: 2px;
}

.editButton{
	background: url(".../static/main/images/edit.png");
	margin-top: 8px;
	border: 0px;
	margin-top: auto;
	margin-bottom: auto;
	align-items: center
}

.microButton{
	background-color: white;
	margin-top: 8px;
	border: 0px;
	margin-top: auto;
	margin-bottom: auto;
	align-items: center
}

.microButton img{
	width: 15px;
	height: 15px;
}

.editButton img{
	width: 15px;
	height: 15px;
}

.fullName{
	align-items: center;
}

.fullName a{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 20px;
}

.block p{
	margin-top: 5px;
	font-size: 20px;
	align-items: center;
	padding: 2px;
}

.info{
	align-items: center;
	padding: 5px;
}

.info a{
	padding: 5px;
}

.info img{
	width: 15px;
	height: 15px;
/*	padding-top: 10px;*/
}

.contestLink{
	padding-left: 30px;
	color: #05037B;
	text-decoration: underline;
}

.list{
	border: solid black 1px;
	width: 300px;
	margin: 4px;
	padding: 0px;
	float: left;
}

.listTitle{
	border-bottom: solid black 1px;
/*	width: 300px;*/
	margin: 0px;
	padding: 0px;
	background-color: #E2B9FF;
	float: top;
}

.list p{
	font-size: 12px;
	margin: 0px;
	padding: 2px;
}

.listTitle p{
	text-align: center;
}

#divDeleteButton{
	width: 100%;
	position: relative;
/*	bottom: 0;*/
}


.table-scroll {
/*	position:relative;*/
	align-items: left;
	max-width:600px;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
}

.table-wrap {
	width:100%;
	overflow:auto;
}

.table-scroll table {
	width:100%;
/*	margin:auto;*/
	border-collapse:separate;
	border-spacing:0;
}

.table-scroll th{
	padding:5px 10px;
	border:1px solid #000;
	background: #E2B9FF;
	white-space:nowrap;
	vertical-align:top;
}

.table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background: white;
	white-space:nowrap;
	vertical-align:top;
}

.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}

.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
	color:red;
}
.clone .fixed-side {
	border:1px solid #000;
	background:#eee;
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}


.checkbox{
	width: 15px;
	height: 15px;
	float: left;
}

.movedCheckbox{
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 15px;
}

.data{
	width: 100%;
}

h2{
	text-align: left;
}

.headerDivName{
	align-items: center;
	width: 100%;
	margin: 2px;
}

.divInfoPupils{
	width: 500px;
	margin: 2px;
	float: left;
}

.divInfoContests{
	width: 500px;
	margin: 2px;
	float: left;
}

.checkbox{
	width: auto;
}

.divList{
	width: 1000px;
}

.statsInfo{
	border-collapse: collapse;
	border: 1px solid white;
	font-size: 20px;
}

.statsInfo td{
	border: 1px solid black;
	padding: 4px;
}

.empty{
	border: 1px solid white;
	padding: 4px;
}



table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 700px;
}

th{
	border: 1px solid black;
	border-color: #000;
	background-color: #E2B9FF;
	padding: 4px;

}

td{
	border: 1px solid black;
	padding: 4px;

}

.divHeader{
	background-color: #E2B9FF;
}

