<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/ktpmonitor.css' %}" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> KTPMonitor 
	</title>
	<script type="text/javascript" src="{% static 'main/js/registration.js' %}"></script>
</head>
<body>
	<p id="logo">
		<img src="{% static 'main/images/logo.png' %}">
	</p> 
	<div class="block">
	<h1>
		Авторизация
	</h1>
	<div class="reg">
		<p id="login_input" ><input placeholder="login"type="text" name="login"></p>
		<p id="password_input"><input placeholder="password" type="password" name="password">
		</p>
		<p class="note">
			
		</p>
		<p><button id="enterButton" class="usual_button" onclick="enter()">
			Войти
		</button></p>
		<p><button class="usual_button" onclick="document.location='registration'">
			Зарегистрироваться
		</button></p>
	</div>
</div>
</body>
</html>