<!DOCTYPE html>
<html>
<head>
 <title>Редактирование профиля</title>
</head>
<body>
 <h1>Редактирование профиля</h1>
 <form>
  <p>
   <label for="surname">Фамилия:</label>
  </p>
  <p>
   <input type="text" id="surname" name="surname">
  </p>
  <p>
   <label for="name">Имя:</label>
  </p>
  <p>
   <input type="text" id="name" name="name">
  </p>
  <p>
   <label for="patronymic">Отчество:</label>
  </p>
  <p>
   <input type="text" id="patronymic" name="patronymic">
  </p>
  <p>
   <label for="phone">Номер телефона:</label>
  </p>
  <p>
   <input type="tel" id="phone" name="phone">
  </p>
  <p>
   <label for="school">Название школы:</label>
  </p>
  <p>
   <input type="text" id="school" name="school">
  </p>
  <p>
   <label for="class">Номер класса:</label>
  </p>
  <p>
   <input type="text" id="class" name="class">
  </p>

  <p>
   <label for="birthday">Дата рождения:</label>
  </p>
  <p>
   <input type="date" id="birthday" name="birthday">
  </p>

  <p>
   <label for="nickname">Никнейм:</label>
  </p>
  <p>
   <input type="text" id="nickname" name="nickname">
  </p>

  <p>
   <button type="button">Изменить дивизион</button>
  </p>
  <p>
   <button type="submit">Сохранить</button>
  </p>
 </form>
</body>
</html>

