<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/ktpmonitor.css' %}" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Регистрация</title>
	<script type="text/javascript" src="{% static 'main/js/registration.js' %}"></script>
</head>
<body>
	<h1 class="header">
		Продолжение регистрации
	</h1>
	<div class="block">
		<div id="role_selector">
			<p>
				Выберете роль
			</p>
			<select class="role_selector" onchange="change_role()">
				<option value="student" selected="selected">
					Ученик
				</option>
				<option value="teacher">
					Преподаватель
				</option>
			</select>
		</div>
		<div id = "lastname" class="all_users">
			<p>
				Фамилия
			</p>
			<p>
				<input type="" name="">
			</p>
		</div>
		<div id = "firstname" class="all_users">
			<p>
				Имя
			</p>
			<p>
				<input type="" name="">
			</p>
		</div>
		<div id = "secondname" class="all_users">
			<p>
				Отчество
			</p>
			<p>
				<input type="" name="">
			</p>
		</div>
		<div id = "nickname" class="all_users">
			<p>
				Ник на Codeforces
			</p>
			<p>
				<input type="" name="">
			</p>
			<p class="note">
				Введите ник, используемый вами в системе Codeforces. <br>
				Если у вас нет профиля на Codeforces, зарегестрируйтесь на <a href="https://codeforces.com/" target="_blank">codeforces.com</a>
			</p>
		</div>
		<div id = "phone" class="all_users">
			<p>
				Номер телефона
			</p>
			<p>
				<input type="" name="">
			</p>
		</div>
		<div id = "birthdate" class="student">
			<p>
				Дата рождения
			</p>
			<p>
				<input type="date" name="">
			</p>
		</div>
		<div id = "school" class="student">
			<p>
				Школа
			</p>
			<p>
				<input type="" name="">
			</p>
		</div>
		<div id = "grade" class="student">
			<p>
				Класс
			</p>
			<p>
				<input min="5" max="11" type="number" value="5" name="">
			</p>
		</div>
		<p class="note">
		</p>
		<p>
			<button class="all_users usual_button" onclick="register_save({{uid}})">
				Сохранить
			</button>
		</p>
	</div>
</body>
</html>