<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/ktpmonitor.css' %}" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> KTPMonitor 
	</title>
	<script type="text/javascript" src="{% static 'main/js/pupilProfile.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/menuPupil.js' %}"></script>
</head>
<body>
	<h1 class="usual_header">
		Мой профиль
	</h1>
	<div class="side_menu">
		<p>
			<button onclick="toProfile()">
				Мой профиль
			</button>
		</p>
		<p>
			<button id="mydiv">
				Мой дивизионы
			</button>
		</p>	
		<p>
			<button onclick="toExit()">
				Выйти
			</button>
		</p>
	</div>
	<div class="block">
		<div class="fullName">
			<a id="fullPupilName">
				
			</a>
			<button class="editButton" onclick="editProfile()">
				<img src="{% static 'main/images/edit.png' %}">
			</button>
		</div>
		<script type="module">
			showPupilProfileInfo()
		</script>
		<p id="div">

		</p>
		<p class="info">
			<img src="{% static 'main/images/mail.png' %}">
			<a id="mail"></a>
		</p>
		<p class="info">
			<img src="{% static 'main/images/telegram.png' %}">
			<a id="telegram"></a>
		</p>
		<p>
			<a id="datebirth"></a>
		</p>
		<p>
			<a id="school"></a>
		</p>
		<p>
			<a id="grade"></a>
		</p>
	</div>
</body>
</html>