<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/ktpmonitor.css' %}" >
	<script type="text/javascript" src="{% static 'main/js/students.js' %}"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Профиль студента</title>
</head>
<body>
	<h1 class="usual_header">
		
	</h1>
	<div class="side_menu">
		<p>
			<button onclick="toProfile()">
				Мой профиль
			</button>
		</p>
		<p>
			<button onclick="toDivisions()">
				Дивизионы
			</button>
		</p>	
		<p>
			<button onclick="toContests()">
				Контесты
			</button>
		</p>
		<p>
			<button onclick="toStudents()">
				Ученики
			</button>
		</p>
		<p>
			<button onclick="toStats()">
				Статистика
			</button>
		</p>
		<p>
			<button onclick="toController()">
				Управление
			</button>
		</p>
		<p>
			<button onclick="toNotifications()">
				Объявления
			</button>
		</p>
		<p>
			<button onclick="toExit()">
				Выйти
			</button>
		</p>
	</div>
	<div class="block">
		<table>
			<script>
				showPupilStats();
			</script>
		</table>
	</div>
</body>
</html> 